@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" asp-controller="Book" class="btn btn-primary">Create New Book <i class="bi bi-plus-circle"></i></a>
                 <a asp-action="Reservations" asp-controller="Book"  class="btn btn-primary">See All Reservations <i class="bi bi-plus-circle"></i></a>
        </div>
    </div>


    <br><br>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>
                Titlle
            </th>
            <th>
                Author
            </th>
            <th>
                ReleseDate
            </th>
            <th>
                Description
            </th>
           
            <th>
            </th>

        </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/books.js"></script>
}